<mat-sidenav-container [hasBackdrop]="true" class="nav-container" (backdropClick)="sideBarGone(drawer)">
    <mat-sidenav #drawer [mode]="'push'" class="sideNav">    
        <nav class="navbarWors">
            <div class="logoNav">
                <div class="logoNavFlex">

                    <button mat-mini-fab color="primary" (click)="sideBarGone(drawer)">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <h1><span id="portFolio">Tas</span>ky</h1>
                </div>
            </div>
            <ul class="navLinks">
                    <li class="navItem"><a routerLink="/" href="Home" class="navLink">Home</a></li>
                    <li class="navItem"><a href="Contact" class="navLink">Contact</a></li>
                    <li class="navItem"><a href="About" class="navLink">About</a></li>
                    <li class="navItem"><a href="Portfolio" class="navLink">Portfolio</a></li>
                    <li class="navItem"><a class="navLink">
                        notification
                    </a></li>
        
            </ul>
            <ul class="login-nav">
                <li *ngIf="!email" class="login"><a href="login" routerLink="/login">Login</a></li>
                <li *ngIf="!email" class="sign-up"><a href="sign up" routerLink="/signup">Sign up</a></li>
                <p *ngIf="email" >{{email}}</p>
                <button *ngIf="email" mat-raised-button color="primary">Logout</button>
            </ul>
            <!-- <div *ngIf="userIn" class="user-pane">
                <p class="user-name"> {{userName}} </p>
                <button mat-raised-button color="primary" (click)="logout($event)" class="logout-btn">Logout</button>
            </div> -->
        
        
        </nav>
    </mat-sidenav>
    <mat-sidenav-content > 
        <app-navbar [sideNavEnabled]="sideBarEnabled" (sideNav)="sideNavToggle($event, drawer)"></app-navbar>
        <app-header></app-header>
        <input type="file">
        <app-main></app-main>
        <app-footer></app-footer>
    </mat-sidenav-content>
    
</mat-sidenav-container>


